.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    //min-height:400px;
}

.row-footer{
    background-color: orange;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:20px 30px 20px 30px;
    margin:0px auto;
    //background: #000000;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
h1
{
	font-family: "Roboto";
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: black;
	color: black;
}

.navbar-inverse {
    background: #303F9F;
	background: rgba(0,100,100,0.8);
	 
}

.navbar-inverse .navbar-nav > a {
  color: #fffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fffff;
    background: green;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
   background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.affix
{
	top: 100px;
}

.carousel {
    background:#1A237E;
}
.carousel .item {
  height: 25vw;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}

.topspace{
    margin:100px auto;max-width:805px;
    }

.main
{
 background-image: url('../img/dy.jpg');
 background-color:black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  height: 50vw;

}

.teamHeader
{
	background-image: url('../img/party.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 320px;
}

.maintext
{

	text-align: center;
	color: #90ff60;
	
}

.contactheader
{
		background-image: url('../img/contact.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
   height: 420px;
}

.mediapartner {
  background-color: white;
  color: red;
  height: 420px;
  text-align: center;
  padding-top: 50px;
}
.mediaheading
{
  padding: 5%;
}

section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 720px;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}

.sectionpad
{
	padding-bottom: 5%;
	padding-top: 5%;
}

.blueText
{
	color: blue;
}



.bg-light-gray {
  background-color: #eeeeee;
}

.team
{
	background: #41917c
}

.team-member {
  text-align: center;
  margin-bottom: 50px;
  color: black;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

.text-muted {
  color: yellow;
  text-align: center;
}
 a:hover, a:focus
 {
	text-decoration:none;
 }


footer {
  padding: 50px 1px;
  text-align: center;
  background-color: cyan;
  margin-top: 50px;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  color: blue;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  
  video {
    width: 60vw;
    height: auto;
}

.tlt
{
	color: green;
}

/*ANIMATION*/

.left {

    //float: left;
    position: relative;
	
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example1;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example1 {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

.right {

    float: right;
    position: relative;
	-webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
    0%   { right:0px; top:0px;}
    50%  { right:200px; top:0px;}
    //50%  { left:200px; top:200px;}
    //75%  { left:0px; top:200px;}
    100% { right:0px; top:0px;}
}

/* Standard syntax */
@keyframes example2 {
    0%   {right:0px; top:0px;}
    50%  {right:200px; top:0px;}
   // 50%  { left:200px; top:200px;}
    //75%  { left:0px; top:200px;}
    100% { right:0px; top:0px;}
}

.yanthrabtn {

    float: left;
    position: relative;
	
    -webkit-animation-name: example11; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example11;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example11 {
    0%   { left: 0px; top:0px;}
    25%  { left:500px; top:0px;}
    50%  { left:500px; top:200px;}
    //75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example11 {
    0%   { left: 0px; top:0px;}
   // 25%  { left:500px; top:0px;}
    50%  { left:500px; top:0px;}
    //75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

.dakshabtn {

    float: right;
    position: relative;
	
    -webkit-animation-name: example12; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example12;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example12 {
    0%   { right: 0px; top:0px;}
    //25%  { right:500px; top:0px;}
    50%  { right:500px; top:0px;}
    //75%  { right:0px; top:200px;}
    100% { right:0px; top:0px;}
}

/* Standard syntax */
@keyframes example12 {
    0%   { right: 0px; top:0px;}
    //25%  { right:500px; top:0px;}
    50%  { right:500px; top:0px;}
    //75%  { right:0px; top:200px;}
    100% { right:0px; top:0px;}
}


  
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}